header
{
    width: 100%;
    font-size:40px;
    text-align:center;
    height: 100px;
    background-color:green;
}
body
{
    background-color:#c0edbd;
}
.fullTaskList
{
margin-top: 45px;
text-align: center;
margin: 0 30% 0 30%;
}
.inputarea
{
    width: 350px;
    height: 70px;
    font-size: 15px;
}
.plusTask
{
height: 71px;
width: 140px;
background-color: black;
color:white;
}
.ToDoList
{ 
    font-size: 25px;
    margin-top: 40px;
}
.addTasks
{
    margin-top: 45px;
}
.task
{
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
    font-size:20px;
    width: 100%;
    height: 70px;
    border: 1px solid green;
}
.pagination{
    padding: 2px;
    margin:0 auto;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination li:visited{
    padding: 0 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
}
.pagination li:hover, .pagination li:active{
    border: 1px solid #2b66a5;
    color: #000;
    background-color: #FFFF80;
}
.page_number {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    padding:5px;
    text-align: center;
    width: 20px;
    display: inline-block;
}
.delete
{
    float:right;
    height: 100%;
    width: 65px;
}
.box
{
    transform: scale(5.8);
    opacity: 0.9;
    cursor: pointer;
    margin-left: 32px;
    float: left;
    margin-top: 31px;
}
#taskText
{
    font-size:26px;
    font-style: italic
}
.textOfSpan
{
    font-size: 18px;
}
.currentPage
{
    background-color: black;
}